<form action="/logout" method="post" class="logout">
  <div>
    <input type="submit" value="Logout">
  </div>
</form>

<% include partials/backbone_templates %>

<!--NOTE TO SELF: Shortly is defined in public/client/app.js-->

<script>
  $(function(){
    new Shortly();
  });
</script>

<script src='/client/app.js'></script>
<script src='/client/link.js'></script>
<script src='/client/links.js'></script>
<script src='/client/linkView.js'></script>
<script src='/client/linksView.js'></script>
<script src='/client/createLinkView.js'></script>
<script src='/client/router.js'></script>
